ANTHROPIC_BASE_URL=your_anthropic_base_url_here
ANTHROPIC_AUTH_TOKEN=your_anthropic_auth_token_here
ANTHROPIC_MODEL=your_anthropic_model_here
CLAUDE_CODE_GIT_BASH_PATH=your_git_bash_path_here
ZHIPU_API_KEY=your_zhipu_api_key_here
CLAUDE_CODE_DISABLE_NONESSENTIAL_TRAFFIC=1
