# Build artifacts
dist/
*.egg-info/
build/

# Documentation
_docs/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg
.eggs/

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
tests/

# Virtual environments
venv/
.venv/
env/
.env/
.env
.env.test

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Claude Code
.claude/
.claude.json
CLAUDE.md


# clone
_core_clone/

# local
.*/
